.box {
  padding: 12px 120px;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.title h1 {
  font-size: 36px;
  margin-bottom: 8px;
}

small {
  font-size: 16px !important;
  font-weight: 400;
}

header {
  margin-bottom: 4px;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.jc-center{
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;

}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-container {
  width: 25%;
}

.app-list {
  margin-top: 4px;
}